{% extends "base.html" %}
{% load static %}

{% block javascript %}
{% endblock %}

{% block page_content %}
<style>
    /* form, button {
        all: unset;
    } */
    .response {
        all: unset;
        width: 14.2857%;
        *width: 14.2857%;
        /* height: 10vw; */
        background-color: #000000;
    }
    .N {
        background-color: #a6a6a6;
    }
    .G {
        background-color: #26c269;
    }
    .R {
        background-color: #ff0000;
    }
</style>

<h1>{{ habit.title }}</h1>
<div class="col-md-12">
    <h5>About the habit:</h5>
    <p>{{ habit.description }}</p>
    <br>
</div>

<div class="border row">
    <div class="border col text-center"> Day 1 </div>
    <div class="border col text-center"> Day 2 </div>
    <div class="border col text-center"> Day 3 </div>
    <div class="border col text-center"> Day 4 </div>
    <div class="border col text-center"> Day 5 </div>
    <div class="border col text-center"> Day 6 </div>
    <div class="border col text-center"> Day 7 </div>
</div>
<div class="row">
    {% for form in forms %}
    <form action="" method="POST" class = "col response">
        {% csrf_token %}
        {{ form }}
        <button class="col {{ form.response_char.value }}" name="submitResponse" type="submit" id= "{{ form.response_id|safeseq }}" style="height: 10vw"></button>
    </form>
    {% endfor %}
    <form action="" method="POST" class = "col response">
        {% csrf_token %}
        {{ form }}
        <button class="col {{ form.response_char.value }}" name="createResponse" type="submit" id= "{{ form.response_id|safeseq }}" style="height: 10vw"></button>
    </form> 
</div>
{% endblock %}


